.about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.about__hero__wrapper{
    margin-top: 25px;
    padding: 5% 0;
    background-color: #0B0F12;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.light-large__text{
    color: #fff;
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    padding: 15px 0;
}

.light-small__text{
    color: #C1C1C1;
    font-family: Exo 2;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.dark-small__text{
    font-weight: 200;
    font-size: 12px;
    line-height: 24px;
    color: #222121;
}

.dark-large__text{
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #222121;
}

.extra-large{
    font-weight: 200;
    font-size: 30px !important;
    padding: 20px 0;
    line-height: 38px;
}

.hero__start{
    width: 100%;
    color: #222121;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
}

.hero__center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__center__img{
    width: 75%;
}

.hero__end{
    width: 100%;
    text-align: center;
}

.cta__widget{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    max-width: 1100px;
    background-color: #1E1E1E;
    color: #fff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 25px;
    margin: 5% 0;
}

.widget__title{
    min-width: 175px;
}

/* CALL TO ACTION START */
.cta__wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 5% 0;
}

.cta__title{
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #222121; 
}

.cta__img{
    padding: 0 50px;
}

.cta__text__wrapper{
    max-width: 400px;
}
/* CALL TO ACTION END */


.toolboxItem__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.latest-work__btn{
    background-color: transparent;
    border: 3px solid #000;
    padding: 10px 30px;
    margin: 20px 20px;

    font-family: Yellowtail;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #7c7979;
}

.latest-work__btn:hover{
    cursor: pointer;
    border: 3px solid red;
}

.latest__example{
    width: 60%;
    height: 60vh;
    transform: translateX(35%) rotateX(60deg) rotateZ(-40deg);
    margin-bottom: -52%;
}

.card__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__link__container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/contact__bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 500px;
    margin: 5% 0;
    border-radius: 10px;
    text-align: center;
}

.contact__link{
    z-index: 1;
    position: absolute;
    text-decoration: none;
}

.contact__link>p{
    color: #fff;
}

.contact__link>:hover{
    cursor: pointer;
}

.rotate{
    animation-name: spin;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    width: 35vw;
    width: 250px;
    filter: invert(100%);
}
    
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen and (max-width: 768px){
    .extra-large{
        font-size: 25px !important;
    }
    .about__hero__wrapper{
        flex-direction: column;
    }
    .about__heroText{
        margin: 5%;
    }
    .hero__center__img{
        max-width: 350px;
    }
    .hero__end{
        justify-content: space-evenly;
        width: 100%;
        display: flex;
    }
    .cta__widget{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10%;
    }
    .toolbox__container{
        overflow-x: hidden;
        width: 100%;
    }
    .toolboxItem__wrapper{
        justify-content: space-between;
        -webkit-text-stroke: 1px #fff;
        animation: animate 10s linear infinite;
    }

    @keyframes animate{
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(-100%);
        }
    }
}

@media only screen and (max-width: 480px){
    .light-large__text{
        inline-size: 75px;
        text-align: center;
    }
    .light-small__text{
        font-size: 10px;
    }
    .contact__link__container{
        width: 85%;
        height: 450px;
        margin: 5% 0;
    }
    .cta__widget{
        margin: 20% 0;
    }
    .widget__title{
        text-align: left !important;
    }
    .cta__text__wrapper{
        max-width: 300px;
    }
    .card__container{
        flex-wrap: wrap;
    }
}