.contact__container{
    width: 80%;
    height: 75vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(25vh/4) auto;
    background-color: whitesmoke;
    border-radius: 15px;
}

.contact__sidebox{
    width: 50%;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: #436879;
    color: #fff;
}

.sidebox__title{
    text-align: start;
    font-family: Ovo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

.sidebox__title>h2{
    padding-bottom: 50px;
}

.sidebox__title>p{
    font-family: Exo 2;
    font-size: 15px;
}

.sidebox__contact{
    text-align: start;
    font-family: Exo 2;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.sidebox__contact>p{
    padding: 10px 0;
}

.sidebox__icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.form__container{
    width: 100%;
    height: 100%;
    display: flex;
}

.form__wrapper{
    width: 100%;
    min-height: 700px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    font-family: Exo 2;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #222121;
}

.form__row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row__item{
    display: flex;
    flex-direction: column;
    text-align: start;
}

input[type=text]{
    width: 15em;
    height: 25px;
    margin-top: 10px;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 1px solid #000;
    outline: none;
}

.checkbox__row{
    width: 100%;
    text-align: start;
}

.form__checbox__row{
    width: 75%;
    margin: 0 auto;
}

.form__checbox__row>label{
    margin-left: 12%;
}

.checkbox__wrapper{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto auto;
    text-align: center;
}

.checkbox__item{
    display: flex;
    flex-direction: column;
}

input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-clip: content-box;
    border: 1.5px solid #bbbbbb;
    border-radius: 50%;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: #000 -19px top no-repeat;
}

textarea{
    width: 45vw;
    height: 5vh;
    border-color: transparent;
    background-color: transparent;
    border-bottom: 1px solid #000;
    outline: none;
    resize: none;
    padding-top: 30px;
}

.scheduleLink{
    width: 75%;
    justify-self: center;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
}

.scheduleLink>a{
    color: #000;
}

@media only screen and (max-width: 768px){
    .sidebox__icons{
        display: none;
    }
    .contact__container{
        flex-direction: column;
    }
    .contact__sidebox{
        width: 95%;
    }
    .contact__container{
        width: 90%;
        height: 100%;
    }
    .sidebox__title{
        font-size: 15px;
    }
    .form__row{
        flex-direction: column;
    }
    .form__checbox__row>label{
        margin-left: 0%;
    }
    .form__checbox__row{
        width: 100%;
        text-align: center;
    }
    .checkbox__wrapper{
        width: 100%;
    }
    .checkbox__item{
        align-items: center;
    }
    input[type=checkbox]{
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
    }
}