.sidebarMenu{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.menu__bars{
    font-size: 2rem;
    background: none;
    color: #000;
    padding: 0 20px;
}

.nav__menu{
    z-index: 1;
    background-color: #436879;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav__menu.active{
    left: 0;
    transition: 350ms;
}

.overlay.active{
    z-index: 1;
    position: fixed;
    width: 60%;
    height: 100vh;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    opacity: 0.5;
    right: 0;
    transition: ease-in-out 2s;
}

.sidebar__active__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
}
.nav__text a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-family: Ovo;
    font-size: 55px;
    line-height: 62px;
    letter-spacing: 0.1em;
}

.nav__text a:hover{
    border-bottom: solid #fff 3px;
    transition: smooth 200ms;
}

.nav__menu__items {
    width: 100%;
}
  
.navbar__toggle {
    background-color: #436879;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
    margin: 25px 0;
}

@media only screen and (max-width: 768px){
    .nav__menu{
        width: 100%;
        height: 100%;
    }
    .overlay.active{
        z-index: 1;
        position: fixed;
        width: 0%;
    }
    .sidebarMenu{
        position: fixed;
        background-color: #fff;
        opacity: 0.9;
        width: 100%;
        padding: 0 3rem;
    }
    .nav__text a{
        font-size: 25px;
        line-height: 31px;
    }
}