.timeline__container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5% 0;
    width: 90%;
}

.timeline__container::after {
    background-color: #000;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}