.toolbox__wrapper{
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.item__container{
    position: relative;
    background-color: #436879;
    border-radius: 70px;
    padding: 30px 10px;
    margin: 0 10px;
    width: 100px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item__img{
    position: absolute;
    margin: auto auto;
    width: 70px;
}

.item__text{
    color: #626060;
    font-family: Exo 2;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .item__container{
        margin: 0 10px;
        width: 75px;
        height: 125px;
    }
    .item__img{
        padding: 0 10px;
    }
}